<%- include('../templetes/head', {tituloWeb:'Login-error'}) %>

<body>
    <div class="container text-center my-3">
        <div class="jumbotron"">
            <h1>USER ERROR SIGNUP</h1>

            <button class="btn btn-warning my-5" onclick="location.href='/login'">VOLVER</button>
        </div>
    </div>
</body>
</html>