<%- include('../templetes/head', {tituloWeb:'Logout'}) %>

<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="alert alert-primary">
                Hasta luego, <%=name%>!
            </h1>
        </div>
    </div>

    <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
</body>
</html>