<%- include('../templetes/head', {tituloWeb:'Signin'}) %>

<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1>Registrar Usuario</h1>
            <br />
            <form enctype="multipart/form-data" class="form" action="/signin" method="post" role="form" autocomplete="off">
                <div>
                    <label for="name">Ingrese su nombre</label>
                    <input id="name" class="form-control" type="text" name="name" required placeholder="Name" />
                    <br />
                    <label for="age">Ingrese su edad</label>
                    <input id="age" class="form-control" type="number" name="age" required />
                    <br />
                    <label for="phone">Ingrese su teléfono celular</label>
                    <input id="phone" class="form-control" type="text" name="phone" required
                        placeholder="+5993517777777" />
                    <br />
                    <label for="adress">Ingrese su dirección</label>
                    <input id="adress" class="form-control" type="text" name="adress" required
                        placeholder="Example 9999" />
                    <br />
                    <label for="avatar" class="form-label">Ingrese su foto de perfil</label>
                    <input id="avatar" class="form-control" type="file" name="avatar" required>
                    <br />
                    <label for="email">Ingrese su email</label>
                    <input id="email" class="form-control" type="email" name="email" required
                        placeholder="email@exaple.com" />
                    <br />
                    <label for="password">Ingrese su contraseña</label>
                    <input id="password" class="form-control" type="password" name="password" required />
                </div>
                <input class="btn btn-success my-3" type="submit" value="Registrar" />
            </form>
            <hr />
            <button class="btn btn-success my-3" onclick="location.href = '/login'">
                Ir a Login
            </button>
        </div>
    </div>
</body>
</html>