<%- include('templetes/head', {tituloWeb:'Mi perfil'}) %>

    <body>
        <div class="container my-3">
            <div class="jumbotron">
                <header>
                    <%- include('templetes/navbar') %>
                </header>
                <div class="containger-fluid alert-primary mt-3 mb-3">
                    <div class="p-3">
                        <h1>Agregar Producto</h1>
                    </div>
                    <div class="row container justify-content-center py-3">
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>